<div class='contianer p-5'>
  <h1><%= @cohort.name %></h1>
  <p class='h6 text-muted'>Students</p>
  <div class='card bg-primary'>
  <ul class="list-group list-group-flush">
    <% @cohort.students.each do |student| %>
        <li class="list-group-item">
          <%= link_to student.name, student_path(student) %>
        </li>
    <% end %>
  </ul>
  </div>
  <br>
  <%= button_to 'All Cohorts', cohorts_path, :class => 'btn btn-info'%>
  <br>
  <%= link_to 'New Student?', new_student_path, :class => 'btn btn-secondary' %>
</div>