<h1>Create a new book!</h1>
<form action='/books' method='post'>
    <label for='title'>Title:</label>
    <input type='text' name='title' id='title'>

    <label for='author'>Author:</label>
    <input type='text' name='author' id='author' placeholder='Enter an author name'>
    <input type="submit" value="Add a book">
</form>