<h1>Patients list</h1>

<ul>
    <% @patients.each do |patient| %>
        <li><%= link_to patient.name, patient_path(patient) %></li>
    <% end %>
</ul>

<%= link_to "Add patient", new_patient_path  %>