
<div class='container bg-dark'>
  <div class='row mt-5 bg-primary'>
      <% @students.each do |student| %>
        <div class="col-6 bg-warning">
          <h1><%= link_to student.name, student_path(student) %></h1>
        </div>
      <% end %>
  </div>
</div>