<h1>The Dogs of Dunder Mifflin</h1>

<ul>
    <% @dogs.each do |d|%>
        <li><%= link_to d.name, dog_path(d) %> | Num employees: <%= d.employees.count %></li>
    <% end %>
</ul>

<%= link_to "Sort by num employees", "/dogs/sorted" %>